<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a  routerLink="./">SISBI</a></mat-toolbar>
    <mat-nav-list>
      <a *ngIf="rol==22 || rol==21" mat-menu-item routerLink="bienes/internos">
        <span class="material-icons">
        post_add
        </span>
        <!--        <mat-icon>notifications_off</mat-icon>-->
        <span> Bienes Internos</span>
      </a>
      <a *ngIf="rol==23 || rol==21" mat-menu-item routerLink="bienes/internos/listazonales">
        <span class="material-icons">
        post_add
        </span>
        <!--        <mat-icon>notifications_off</mat-icon>-->
        <span> Bienes Internos Sede</span>
      </a>
      <a *ngIf="rol==22 || rol==21" mat-menu-item routerLink="bienes/internos/solicitudes">
        <span class="material-icons">
        fact_check
        </span>
        <span> Solicitudes de cambio</span>
      </a>
<!--      <a *ngIf="rol==23 || rol==21" mat-menu-item routerLink="bienes/internos/mis-solicitudes">-->
<!--        <span class="material-icons">-->
<!--        fact_check-->
<!--        </span>-->
<!--        <span> Mis solicitudes</span>-->
<!--      </a>-->
      <a *ngIf="rol==22 || rol==21" mat-menu-item routerLink="bienes/externos">
         <span class="material-icons">
        post_add
        </span>
        <span> Bienes externos</span>
      </a>
      <a *ngIf="rol==22 || rol==21"  mat-menu-item [matMenuTriggerFor]="menu">
        <span class="material-icons">
        assignment
        </span>
        <span> Mantenimiento</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="subcategorias">
          <span class="material-icons">
          post_add
          </span>
          <span>Subcategorias</span>
        </button>
        <button mat-menu-item routerLink="marcas">
          <span class="material-icons">
          post_add
          </span>
          <span>Lista de marcas</span>
        </button>
        <button mat-menu-item routerLink="modelos">
          <span class="material-icons">
          post_add
          </span>
          <span>Lista de modelos</span>
        </button>
      </mat-menu>
      <a mat-menu-item [matMenuTriggerFor]="menu1">
        <span class="material-icons">
          store
        </span>
        <span> Inventario</span>
      </a>
      <mat-menu #menu1="matMenu">
        <button  *ngIf="rol==23 || rol==21" mat-menu-item routerLink="subcategorias">
          <span class="material-icons">
          post_add
          </span>
          <span>Registro</span>
        </button>
        <button  *ngIf="rol==22 || rol==21" mat-menu-item routerLink="subcategorias">
          <span class="material-icons">
            file_present
          </span>
          <span>Reporte Inventario</span>
        </button>
        <button mat-menu-item routerLink="marcas">
          <span class="material-icons">
            file_present
          </span>
          <span>Reporte bienes con conflicto</span>
        </button>
        <button mat-menu-item routerLink="modelos">
          <span class="material-icons">
            file_present
          </span>
          <span>Reporte bienes sin inventario</span>
        </button>
      </mat-menu>
<!--      <a mat-menu-item [matMenuTriggerFor]="menuaudi">-->
<!--        <span class="material-icons">-->
<!--        admin_panel_settings-->
<!--        </span>-->
<!--        <span>Auditoría</span>-->
<!--      </a>-->
      <mat-menu #menuaudi="matMenu">
        <button mat-menu-item>
          <span class="material-icons">
          post_add
          </span>
          <span>Lista de modificaciones</span>
        </button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="pull-right">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--      <span>Sistena de Bienes Patrimoniales</span>-->
      <span class="example-spacer"></span>
      <span style="font-size: 14px">{{nombre}}</span>
      <a (click)="logout()" href="#/auth" style="font-size: 16px" class="cursor">
        <span class="material-icons">
      login
      </span>
        <span> Salir</span>
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
