.mat-column-descripcion {
  flex: 20rem;
  min-width: 20rem;
}

.mat-column-nOrden {
  flex: 10rem;
  min-width: 10rem;
}

.mat-column-nSerien {
  flex: 10rem;
  min-width: 10rem;
}

.mat-column-descsede {
  flex: 10rem;
  min-width: 10rem;
}

.mat-column-descmodelo {
  flex: 10rem;
  min-width: 10rem;
}
